In [96]:
import pandas as pd
import numpy as np
import pickle 

df=pd.read_csv('ipl.csv')
pd.set_option('display.max_columns',None)

In [97]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [98]:
x=['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
    'Rising Pune Supergiant', 'Royal Challengers Bangalore',
    'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
    'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
    'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants', 'Delhi Capitals']

y = ['SRH','MI','GL','RPS','RCB','KKR','DC','KXIP','CSK','RR','SRH','KTK','PW','RPS','DC']

df.replace(x,y,inplace = True)

In [99]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [100]:
#Removing unwanted columns
remove=['mid','batsman','bowler','striker','non-striker']
df.drop(columns=remove,axis=1,inplace=True)
df

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...,...
76009,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",MI,RPS,121,7,19.2,40,0,129
76010,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",MI,RPS,127,7,19.3,46,0,129
76011,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",MI,RPS,128,7,19.4,47,0,129
76012,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",MI,RPS,129,7,19.5,48,0,129
76013,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",MI,RPS,129,8,19.6,47,1,129

In [101]:
df['bat_team'].unique()

array(['KKR', 'CSK', 'RR', 'MI', 'SRH', 'KXIP', 'RCB', 'DC', 'KTK', 'PW',
       'RPS', 'GL'], dtype=object)

In [102]:
#keeping only consistent team
teams=['KKR',"CSK","RR","MI","SRH","KXIP","RCB","DC"]

In [103]:
df=df[(df['bat_team'].isin(teams) & df['bowl_team'].isin(teams))]
df

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...,...
75884,2017-05-19,M Chinnaswamy Stadium,KKR,MI,106,9,18.1,29,4,107
75885,2017-05-19,M Chinnaswamy Stadium,KKR,MI,107,9,18.2,29,4,107
75886,2017-05-19,M Chinnaswamy Stadium,KKR,MI,107,9,18.3,28,4,107
75887,2017-05-19,M Chinnaswamy Stadium,KKR,MI,107,9,18.4,24,4,107
75888,2017-05-19,M Chinnaswamy Stadium,KKR,MI,107,10,18.5,23,5,107

In [104]:
#prediction will happen when we have atleast 5 overs data
df=df[df['overs']>=5.0]

In [105]:
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,61,0,5.1,59,0,222
33,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,61,1,5.2,59,1,222
34,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,61,1,5.3,59,1,222
35,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,61,1,5.4,59,1,222
36,2008-04-18,M Chinnaswamy Stadium,KKR,RCB,61,1,5.5,58,1,222

In [106]:
#object to datetime
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [107]:
#factorize the venue column
label, unique=pd.factorize(df["venue"])

pair={}
print(len(label),len(unique))
label=list(set(label))
for index,name in enumerate(label,0):
  pair[unique[index]]=name

pair

df['venue'].replace(pair,inplace=True)

46560 32

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [108]:
#one hot encoding
e_df=pd.get_dummies(data=df, columns=["bat_team","bowl_team"])
e_df.head()

,date,venue,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_CSK,bat_team_DC,bat_team_KKR,bat_team_KXIP,bat_team_MI,bat_team_RCB,bat_team_RR,bat_team_SRH,bowl_team_CSK,bowl_team_DC,bowl_team_KKR,bowl_team_KXIP,bowl_team_MI,bowl_team_RCB,bowl_team_RR,bowl_team_SRH
32,2008-04-18,0,61,0,5.1,59,0,222,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
33,2008-04-18,0,61,1,5.2,59,1,222,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
34,2008-04-18,0,61,1,5.3,59,1,222,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
35,2008-04-18,0,61,1,5.4,59,1,222,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
36,2008-04-18,0,61,1,5.5,58,1,222,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [109]:
#as it is a time series data we would do split of data based on date for creating test and train dataset
x_train=e_df.drop(columns=['total'],axis=1)[e_df['date'].dt.year<=2016]
x_test=e_df.drop(columns=['total'],axis=1)[e_df['date'].dt.year>=2017]
y_train=e_df[e_df['date'].dt.year<=2016]['total'].values
y_test=e_df[e_df['date'].dt.year>=2017]['total'].values

In [110]:
x_train.drop('date',axis=1,inplace=True)
x_test.drop('date',axis=1,inplace=True)

In [111]:
x_train.columns

Index(['venue', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'bat_team_CSK', 'bat_team_DC', 'bat_team_KKR', 'bat_team_KXIP',
       'bat_team_MI', 'bat_team_RCB', 'bat_team_RR', 'bat_team_SRH',
       'bowl_team_CSK', 'bowl_team_DC', 'bowl_team_KKR', 'bowl_team_KXIP',
       'bowl_team_MI', 'bowl_team_RCB', 'bowl_team_RR', 'bowl_team_SRH'],
      dtype='object')

In [112]:
from sklearn .linear_model import Ridge
from sklearn.model_selection import GridSearchCV
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=2.66653e-20): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.25881e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.19035e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.3269e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.35921e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=1.27016e-18): result may not be accurate.
  overwrite_a=True).T

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [113]:
print(ridge_regressor.best_params_,'\n',ridge_regressor.best_score_)

{'alpha': 40}
 -314.95679919325676

In [114]:
predict=ridge_regressor.predict(x_test)

In [115]:
from sklearn import metrics
print(metrics.r2_score(y_test,predict))

0.743308792399835

In [116]:
filename='ipl_score.pkl'
pickle.dump(ridge_regressor, open(filename, 'wb'))

In [117]:
!pip install flask_ngrok

Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.7/dist-packages (0.0.25)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)

In [118]:
import pickle
from flask import Flask,render_template,request,redirect,url_for
from flask_ngrok import run_with_ngrok


app = Flask(__name__, template_folder='/')
run_with_ngrok(app)  

filename = '/content/ipl_score.pkl'
regressor = pickle.load(open(filename, 'rb'))



@app.route('/', methods=["GET"])
def home():
	return render_template('/content/index_ipl.html',unique=unique)

@app.route('/predict', methods=['POST','GET'])
def predict():
    temp_array = list()
    
    if request.method == 'POST':
        
        batting_team = request.form['batting-team']
        if batting_team == 'Chennai Super Kings':
            temp_array = temp_array + [1,0,0,0,0,0,0,0]
        elif batting_team == 'Delhi Daredevils':
            temp_array = temp_array + [0,1,0,0,0,0,0,0]
        elif batting_team == 'Kings XI Punjab':
            temp_array = temp_array + [0,0,1,0,0,0,0,0]
        elif batting_team == 'Kolkata Knight Riders':
            temp_array = temp_array + [0,0,0,1,0,0,0,0]
        elif batting_team == 'Mumbai Indians':
            temp_array = temp_array + [0,0,0,0,1,0,0,0]
        elif batting_team == 'Rajasthan Royals':
            temp_array = temp_array + [0,0,0,0,0,1,0,0]
        elif batting_team == 'Royal Challengers Bangalore':
            temp_array = temp_array + [0,0,0,0,0,0,1,0]
        elif batting_team == 'Sunrisers Hyderabad':
            temp_array = temp_array + [0,0,0,0,0,0,0,1]
            
            
        bowling_team = request.form['bowling-team']
        if bowling_team == 'Chennai Super Kings':
            temp_array = temp_array + [1,0,0,0,0,0,0,0]
        elif bowling_team == 'Delhi Daredevils':
            temp_array = temp_array + [0,1,0,0,0,0,0,0]
        elif bowling_team == 'Kings XI Punjab':
            temp_array = temp_array + [0,0,1,0,0,0,0,0]
        elif bowling_team == 'Kolkata Knight Riders':
            temp_array = temp_array + [0,0,0,1,0,0,0,0]
        elif bowling_team == 'Mumbai Indians':
            temp_array = temp_array + [0,0,0,0,1,0,0,0]
        elif bowling_team == 'Rajasthan Royals':
            temp_array = temp_array + [0,0,0,0,0,1,0,0]
        elif bowling_team == 'Royal Challengers Bangalore':
            temp_array = temp_array + [0,0,0,0,0,0,1,0]
        elif bowling_team == 'Sunrisers Hyderabad':
            temp_array = temp_array + [0,0,0,0,0,0,0,1]
            
          
        venue = request.form['venue']
        venue=pair[venue]
        overs = float(request.form['overs'])
        runs = int(request.form['runs'])
        wickets = int(request.form['wickets'])
        runs_in_prev_5 = int(request.form['runs_in_prev_5'])
        wickets_in_prev_5 = int(request.form['wickets_in_prev_5'])
        
        temp_array = temp_array + [venue,runs, wickets, overs,runs_in_prev_5, wickets_in_prev_5]
        




        data = np.array([temp_array])
        my_prediction = int(regressor.predict(data)[0])
        
        result=f"Runs scored will be between {my_prediction-50} to {my_prediction+10}."

        return render_template('/content/index_ipl.html', result=result)

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://669c4d8919ad.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040